!!!
%html
  %head
    %title= yield(:title) + 'RichfisherMe'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/ico"}/
    = csrf_meta_tags
  %body
    =render 'shared/header'

    .content_wrapper.clear
      .page-header.clear
        %p.notice= notice
        %p.alert= alert
      .page= yield
      .clear

    =render 'shared/footer'

    %a#back_to_top 回到顶部