!!!
%html
  %head
    %title RichfisherMe
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "/assets/ckeditor/ckeditor.js"
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/ico"}/
    = csrf_meta_tags
  %body#panel
    =render 'shared/panel_header'

    .content_wrapper.clear
      .page-header.clear
        %p.notice= notice
        %p.alert= alert
      .page= yield
      .clear

    =render 'shared/footer'